
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/Awesomesitename/">Mon Super Blog</a>
    <ul class="navbar-nav mr-auto">
        {% if isConnected %}
            <li class="nav-item">
                Bienvenue
                <b><a href="/Awesomesitename/profil/?id={{ connectedUser.id }}">
                        {{ connectedUser.login }}
                </a></b> !
            </li>
            <li class="nav-item"><a href="/Awesomesitename/disconnect/">Se déconnecter</a></li>
        {% else %}
            <li class="nav-item"><a href="/connection/">Connectez vous!</a></li>
            <li class="nav-item"><a href="/Awesomesitename/inscription/">Inscrivez vous!</a></li>
        {% endif %}
    </ul>
</nav>
<div class="container">
    <h1>
        {% block pageTitle %}Mon super blog{% endblock %}
    </h1>
    {% block content %}{% endblock %}
</div>
</body>
</html>